{% extends 'base.html.twig' %}

{% block title %}
	Your Cart
{% endblock %}

{% block body %}
	<section class="topBar bshadow p-3">
		<div class="font-weight-bold retro-chrome text-light "> <span> Your Cart ⭐ Get your dreamy stuff ⭐ </span> <span> Your Cart ⭐ Get your dreamy stuff ⭐ </span> </div>
	</section>

	<table class="table text-center mb-2 bshadow">
		<thead>
			<tr class="font-serif txt-White">
				<th></th>
				<th>Produit</th>
				<th>Prix</th>
				<th>Quantité</th>

				<th>Actions</th>
			</tr>
		</thead>
		<tbody class="text-center">
			{% for element in dataPanier %}
				<tr>
					<td>
					{% for photo in element.produit.photos  %}
						{% if photo.isPrimary == true  %}
							
								<img src="{{ photo.src }}" alt="{{ element.produit.shortLibel }}" style="width: auto; height: 200px;" class="img-thumbnail">
						{% endif %}
					{% endfor %}</td>
					<td class="align-middle">{{ element.produit.shortLibel }}</td>
					<td class="align-middle">{{ element.quantite * element.produit.prxHt }}
						€</td>
					<td class="align-middle">{{ element.quantite }}</td>

					<td class="align-middle">
						<a href="{{path("app_cart_add", {id: element.produit.id})}}" class="btn btn-success">
							<i class="fa-solid fa-circle-plus"></i>
						</a>
						<a href="{{path("app_cart_remove", {id: element.produit.id})}}" class="btn btn-warning">
							<i class="fa-solid fa-circle-minus"></i>
						</a>
						<a href="{{path("app_cart_delete", {id: element.produit.id})}}" class="btn btn-danger">
							<i class="fa-solid fa-circle-xmark"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5" class="text-center">Votre panier est vide</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr class="bg-GradientLight" >

			<td colspan="3" class="font-weight-bold  "><span> Total </span> </td>
				<td colspan="3" class="font-weight-bold  "> <span> {{ total }}
					€ </span> </td>


				<td>
<a type="button" href="{{path('app_cart_validate')}}" class="w-50 mt-5 mb-5 btn-AddToCauldron mt-5"> Validate my Cart </a>
				</td>
			</tr>
		</tfoot>
	</table>

	

	{% include "_partials/_footer.html.twig" %}

{% endblock %}
