{% extends "base.html.twig" %}

{% block title %}ADMINISTRATION
{% endblock %}

{% block body %}


	<div style="font-weight: normal;" class="container font-serif">

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Description</th>
						<th>Category</th>
						<th>Category</th>
						<th>Price</th>
						<th>Photos</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for produit in produits %}
						<tr>
							<td>{{ produit.id }}</td>
							<td>{{ produit.shortLibel }}</td>
							<td>{{ produit.LongLibel }}
							</td>
							<td>{{ produit.categorie.nomination }}</td>
							<td>{{ produit.categorie.parent.nomination }}</td>
							<td>{{ produit.prxHt }}</td>
							<td>
								<div class="row">
									{% for photo in produit.photos %}
										<div class="col-sm-2">
											
									{% if photo.src[:4] == 'http' %}
										<img src="{{ photo.src }}" alt="{{ produit.shortLibel }}" class="d-block w-100">
									{% else %}
										<img src="{{ asset('assets/uploads/products/mini/300x300-' ~ photo.src ) }}" alt="{{ produit.shortLibel }}" class="d-block w-100">
									{% endif %}
										</div>
									{% endfor %}
								</div>
							</td>
							<td>
								<div class="btn-group">
									<a href="{{ path('admin_products_edit', {'id': produit.id}) }}" class="btn ">
										<i class="fa fa-edit"></i>
										Edit</a>
									<a href="{{ path('admin_products_delete', {'id': produit.id}) }}" class="btn">
										<i class="fa fa-trash"></i>
										Delete</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a href="{{ path('admin_products_add') }}" class="fixed-bottom pb-4 pt-4">
				<span>Add a Product</span>
			</a>

			{% include "_partials/_footer.html.twig" %}
		{% endblock %}
